a:link{
  color:black;
  text-decoration:none;
}
a:visited{
  color:black;
  text-decoration:none;
}
a:hover{
  color:black;
  text-decoration:none;
}
a:active{
  color:rgb(62, 120, 214);
  text-decoration:none;
}
.title{
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  text-align:center;
}
body{
  background-color:rgb(250, 231, 182);
}
.gap{
  height:100px;
}
.dog-pic{
  width:400;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
.pic-div{
  height:250px;
  width:250px;
  background-color: cyan;
  margin:0 auto;
  margin-top:50px;
}
.flex_container{
  width:700px;
  height:700px;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
}
.toolbar{
  height:40px;
  min-width: 100%;
  top:0;
  justify-content: center;
  display:flex;
  flex-wrap:wrap;
}
.pull-down-box{
  min-height:30px;
  min-width:30%;
  max-height:30px;
  max-width:30%;
  margin-left:10px;
  margin-top:2px;
  font-size:25px;
  border-style:solid;
  text-align: center;
}
.block {
  height:30px;
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
input {
  display: none;
}
ul.submenu {
  max-height: 0;
  overflow: hidden;
}
label {
  position: relative;
  display: block;
  cursor: pointer;
}
input:checked~ul.submenu {
  max-height: 300px;
  background-color:white;
}
#description{
  text-align: center;
  font-size: 40px;
  font-style: italic;
}
